<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<p>Please enter the master key</p>
<div class="form-style">
    <form action="/account/master-key" method="post">
        <div>
            <input type="radio" id="Employee" name="account_type" value="Employee" checked>
            <label for="Employee">Employee</label>

            <input type="radio" id="Admin" name="account_type" value="Admin">
            <label for="Admin">Admin</label>
        </div>

        <div>
            <label for="masterKey">Master Key:</label>
            <input type="password" id="masterKey" name="master_key" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            <span id="pwbtn">Show Master Key</span>
        </div>
        <button type="submit">Require Access</button>

    </form>
</div>


<script>
    const pwbtn = document.getElementById('pwbtn');
    pwbtn.addEventListener("click", function() {
        const pwinput = document.getElementById('masterKey');
        if (pwinput.type == 'password') {
            pwinput.setAttribute("type", "text");
            pwbtn.textContent = 'Hide Account Password';
        } else {
            pwinput.setAttribute("type", "password");
            pwbtn.textContent = 'Show Password';
        }
    });
</script>