/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.preference {
  margin: 3rem 0 0 0;
  border-top: rgb(195, 199, 244) 1px solid;
}

.noticeCorrect {
  padding: 0;
  list-style-type: none;
}
.noticeCorrect li{
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(128, 255, 128, 0.5);
  color: rgb(22, 3, 0);
}
.notice {
  padding: 0;
  list-style-type: none;
}
.notice li{
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 128, 128, 0.5);
  color: rgb(22, 3, 0);
}
/******* header ***************/
#top-header{
  display: grid;
  grid-template-columns: 1fr max-content;
  background-color:rgb(108, 51, 31);
  padding: 2rem 1rem 2rem 1rem;
}
.siteName a, #tools a{
  text-decoration: none;
  color: rgb(246, 241, 241);

}
.siteName{
  font-size: xx-large;
  font-weight: 700;
}

/******* navegation ***************/
nav{
  background-color:  rgb(22, 3, 0);
  padding: 0.5rem;
}
nav ul{
  display: flex;
  justify-content:space-around;
  align-items: center;
  list-style-type: none;
  font-size: large;
  font-weight: 700;
  padding: 0.5rem;
}
nav ul li a{
  text-decoration: none;
  color: rgb(246, 241, 241);
  padding: 0.5rem;
  border-radius: 1rem;
}
nav ul li a:hover{
  color: rgb(108, 51, 31);
  background-color: rgb(246, 241, 241);
}
/******* body ***************/

/******* hero ***************/
#herodiv {
  position: relative;
}
#herodiv picture img {
  width: 100%;
  padding: 1rem;
  height: auto;

}

.contenthero{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3%;
  background-color: rgba(194, 194, 194, 0.5);
  color:  rgb(22, 3, 0);
  padding: 0.5rem;
  border-radius: 1rem;
  line-height: 0.1rem;
}

.contenthero button{
  background-color: rgb(108, 51, 31);
  color: rgb(246, 241, 241);
  padding: 0.5rem;
  border: 1px solid rgba(246, 241, 241,0.5);
  font-size: medium;
  font-weight: 700;
  margin: 0.2rem 0 0 0;
}

/******* info ***************/
#info{
  display: grid;
  grid-template-columns: 1fr;
}
#info section{
  padding: 1rem;
}
#infoList{
  grid-row: 1/2;
}
#clickLinks{
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#clickLinks div{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  border-radius: 1rem;
}

#clickLinks div a{
  color: rgb(255, 255, 255);
  font-size: large;

}

/* ------classification------- */
#inv-display{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 0;
  }
#inv-display li{
  max-width: 300px;
  list-style-type: none;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}

#inv-display li img{
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.namePrice{
  align-self: end;
  align-content: end;
  text-align: center;
}

/* -------details------- */
#detail-display{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}
.detail-image img{
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.detail-info p{
  padding: 1rem;
  margin: 0;
  border-radius: 1rem;
}
.detail-info p span{
  font-weight: 700;
}
.detail-info p:nth-child(even){
  background-color: rgba(0, 0, 0, 0.1);
}

/******* form ***************/
.form-style{
  padding: 1rem;
  background-color: rgba(60, 148, 255, 0.8);
  max-width: 700px;
}
.form-style p{
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 1rem;
}

form div{
  padding: 0 0 1rem 0;
  max-width: 500px;
}
form div span{
  display: block;
  max-width: 200px;
}
#pwbtn{
  background-color: rgba(255, 255, 255, 0.4);
  max-width: fit-content;
  padding: 0.5rem;
  border-radius: 1rem;
}
form input{
  display: block;
  height: 40px;
  width: 70%;
}
form button[type="submit"] {
  max-width: 200px;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-weight: 700;
  font-size: medium;
  border-radius: 1rem;
}
form button[type="submit"]:hover {
  transition: 0.5s;
  background-color: rgb(181, 232, 195);
}

.form-style select {
  display: block;
  width: 100%;
  height: 40px;
  min-width: 200px;
  max-width: 350px;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.form-style form textarea {
  display: block;
  width: 100%;
  height: 100px;
  min-width: 200px;
  max-width: 350px;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
/******* management page ***************/

.management-container a{
  display: block;
  padding: 1rem;
}

/******* from validation ***************/
input:required:focus:invalid, input:focus:invalid {
  background-color: red;
}


 input:required:valid {
  background-color: green;
 }

@media (min-width: 600px) {
  #info{
    grid-template-columns: 1fr 1fr;
  }
  #infoList{
    grid-column: 2/3;
  }
  #clickLinks{
    grid-row: 1/2;
  }
  /* -------details large view------- */
  #detail-display{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }
}