<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="management-container">
  <a href="inv/classification">Add New Classification</a>
  <a href="inv/inventory">Add New Vehicle</a>
</div>

<!-- The view should contain two links (no links are directly to a view, all must use the MVC approach):
One to trigger a process to deliver an add new classification view (see Task 2).
One to trigger a process to deliver an add new inventory view (see Task 3). -->